<%= form_with(model: [@patient, @pronunciation], local: true) do |form| %>

  <%=error_messages_for(form.object) %>

  <div class="my-form__info">
    <span>Word:</span>
    <%= @word.name %>
  </div>

  <%= form.hidden_field :patient_id %>
  <%= form.hidden_field :word_id, value: params[:word_id] %>

  <div class="my-form__control">
    <%= form.label :trials %>
    <%= form.text_field :trials, pattern: "[+-]*", placeholder: 'e.g. ++---+-' %>
  </div>

  <div class="my-form__control">
    <%= form.label :prompting_level %>

    <div class="my-form__radio">
      <div>
        <%= form.radio_button :prompting_level, 'Independent', checked: true %>
        <%= form.label :prompting_level, 'Independent' %>
      </div>

      <div>
        <%= form.radio_button :prompting_level, 'Intermediate' %>
        <%= form.label :prompting_level, 'Intermediate' %>
      </div>

      <div>
        <%= form.radio_button :prompting_level, 'Controlling' %>
        <%= form.label :prompting_level, 'Controlling' %>
      </div>
    </div>

  </div>

  <div class="my-form__control">
    <%= form.submit class: 'my-form__action-btn' %>
  </div>
<% end %>
