<%= form_with(model: [@patient, @poc], local: true) do |form| %>

  <%=error_messages_for(form.object) %>

  <div class="my-form__info">
    <%= form.label :goal_id, "Select a goal for #{@patient.name}" %>
    <%= form.select(:goal_id, @available_goals.map { |g| ["#{g.goal_type} | #{g.title}", g.id] }) %>
  </div>

  <div class="my-form__info">
    <%= form.submit class: 'my-form__action-btn' %>
  </div>
<% end %>