<% @page_title = "#{@patient.name}'s Plan of Care" %>

<div class="d-flex justify-content-between">
  <%= link_to '<< Go Back', root_path, class: 'back__link ' %>
  <%= link_to "Assign new goal to #{@patient.name}", new_patient_plan_of_care_path(@patient), class: 'my-btn' %>
</div>


<% if @patient_goals.size.zero? %>
  <div class="no_content__message">
    No goals available
    <span>Assign new goals to <%= @patient.name %> :)</span>
  </div>
<% end %>


<div class="d-flex mt-1 goals">
  <div class="goals__item">
    <% @patient_ltg_goals.each do |goal| %>
      <div class="my-tile my-tile__ltg">
        <%= link_to patient_plan_of_care_path(@patient, goal), class: 'my-tile__item' do %>
          <div class="goal-type"><%= goal.goal_type %></div>
          <div class="goal-title"><%= truncate(goal.title, length: 70) %></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="goals__item">
    <% @patient_stg_goals.each do |goal| %>
      <div class="my-tile my-tile__stg">
        <%= link_to patient_plan_of_care_path(@patient, goal), class: 'my-tile__item' do %>
          <div class="goal-type"><%= goal.goal_type %></div>
          <div class="goal-title"><%= truncate(goal.title, length: 70) %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



<%# @patient_goals.each do |goal| %>
<%#= render goal, role: 'therapist' %>
<%# end %>