<h1>PlanOfCares#new</h1>

<%= form_with(model: [@patient, @poc], local: true) do |form| %>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.text_field :patient_id %>
  </div>

  <div>
    <%= form.label :goal_id, style: "display: block" %>
    <%= form.select(:goal_id, @remaining_goals.map { |g| [g.title, g.id] }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

