<%= form_with(model: [@goal, @sub_goal, word]) do |form| %>

  <%=error_messages_for(form.object) %>

  <div class="my-form__info">
    <div>
      <span>Goal:</span>
      <%= @sub_goal.goal.title %>
    </div>
    <div>
      <span>Sub-Goal:</span>
      <%= @sub_goal.title %>
    </div>
  </div>


  <div class="my-form__control">
    <%= form.label :name, 'Name of the word:' %>
    <%= form.text_field :name, placeholder: 'e.g. fish' %>
  </div>

  <div class="my-form__control">
    <%= form.submit class: 'my-form__action-btn' %>
  </div>
<% end %>
