<%= form_with(model: [@goal, @sub_goal, word]) do |form| %>
  <% if word.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= @sub_goal.goal.title %> ||
    <%= @sub_goal.title %> ||
  </div>

<!--  <%#= form.label :name %>:-->
  <%#= form.text_field :name, list: 'word' %>
<!--  <datalist id="word">-->
    <%# @words.each do |w| %>
<!--      <option value="<%#= w.name %>"></option>-->
    <%# end %>
<!--  </datalist>-->

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
