<%= form_with(model: [@goal, @sub_goal, word]) do |form| %>
  <% if word.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-form__info">
    <div>
      <span>Goal:</span>
      <%= @sub_goal.goal.title %>
    </div>
    <div>
      <span>Sub-Goal:</span>
      <%= @sub_goal.title %>
    </div>
  </div>


  <div class="my-form__control">
    <%= form.label :name, 'Enter the word: ' %>
    <%= form.text_field :name, placeholder: 'e.g. fish' %>
  </div>

  <div class="my-form__control">
    <%= form.submit class: 'my-form__action-btn' %>
  </div>
<% end %>
