<%= form_with(model: goal) do |form| %>

  <%=error_messages_for(form.object) %>

  <div class="my-form__control">
    <%= form.label :title, 'Title of the Goal:' %>
    <%= form.text_field :title, placeholder: 'e.g. named vocabulary in pictures -visual/verbal/max cues' %>
  </div>

  <div class="my-form__control">
    <%= form.label :goal_type, 'Goal Type:' %>
    <%= form.select :goal_type, %w[LTG STG] %>
  </div>

  <div class="my-form__control">
    <%= form.label :more_info, 'More Information(optional):' %>
    <%= form.text_area :more_info, placeholder: 'e.g. Expressive/Pragmatic Language - book (the tiny seed)' %>
  </div>

  <div class="my-form__control">
    <%= form.submit class: 'my-form__action-btn' %>
  </div>
<% end %>
