<div id="<%= dom_id goal %>">

  <%= goal.goal_type %> ||
  <%= goal.title %> ||
  <%= goal.more_info %>

  <br />

  <% goal.sub_goals.each do |sub_goal| %>

    <div class="sub_goal">
      <div>
        <%= render sub_goal %>
      </div>
      <div class="sub_goal__actions">
        <%= link_to "Edit", edit_goal_sub_goal_path(goal, sub_goal) %>
        <%= button_to "Delete", [goal, sub_goal], method: :delete, class: :button %>
      </div>
    </div>
  <% end %>

</div>

