
<div class="tile">
  <div class="content">
    <strong>Goal: </strong>
    <%= goal.goal_type %> ||
    <%= goal.title %> ||
<%= goal.more_info %>
  </div>
  <div class="links">
<% if role == 'admin' %>
      <%= link_to "Add sub-goal", new_goal_sub_goal_path(goal) %> ||
<%= link_to "Edit", edit_goal_path(goal) %>
<%= button_to "Delete", goal, method: :delete, class: :button %>
<% end %>
  </div>
</div>

<br />

<% goal.sub_goals.each do |sub_goal| %>
<%= render sub_goal, goal: goal, role: role %>
<% end %>
