<% @page_title = 'All Goals' %>

<div class="d-flex justify-content-end">
  <%= link_to "Add New goal", new_goal_path, class: 'my-btn' %>
</div>


<div class="d-flex mt-1 goals">
  <div class="goals__item">
    <% @ltg_goals.each do |goal| %>
      <div class="my-tile my-tile__ltg">
        <%= link_to goal_path(goal.id), class: 'my-tile__item' do %>
          <div class="goal-type"><%= goal.goal_type %></div>
          <div class="goal-title"><%= truncate(goal.title, length: 70) %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="goals__item">
    <% @stg_goals.each do |goal| %>
      <div class="my-tile my-tile__stg">
        <%= link_to goal_path(goal.id), class: 'my-tile__item' do %>
          <div class="goal-type"><%= goal.goal_type %></div>
          <div class="goal-title"><%= goal.title %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>





