<%= form_with(model: [@goal, sub_goal], local: true) do |form| %>

  <%=error_messages_for(form.object) %>

  <div class="my-form__info">
    <span>Goal:</span>
    <%= @goal.title %>
  </div>

  <div class="my-form__control">
    <%= form.label :title, 'Title of the Sub-Goal:' %>
    <%= form.text_field :title, placeholder: 'e.g. /sh/ IWP imitative' %>
  </div>

  <div class="my-form__control">
    <%= form.submit class: 'my-form__action-btn' %>
  </div>
<% end %>
