<div id="<%= dom_id sub_goal %>">
  <strong>Sub-goal:</strong>
  <%= sub_goal.title %>

  <br />

  <% sub_goal.words.each do |word| %>

    <div class="sub_goal word">
      <div>
        <%= render word %>
      </div>
      <div class="sub_goal__actions">
        <%= link_to "Edit", edit_goal_sub_goal_word_path(sub_goal.goal, sub_goal, word) %>
        <%= button_to "Delete", [sub_goal.goal, sub_goal, word], method: :delete, class: :button %>
      </div>
    </div>
  <% end %>
</div>
