<p style="color: green"><%= notice %></p>

<%= render @sub_goal %>

<div>
  <%= link_to "Edit this sub goal", edit_goal_sub_goal_path(@goal, @sub_goal) %> ||
  <%= link_to "Back to sub goals", goal_sub_goals_path(@goal, @sub_goal) %>

  <%= button_to "Destroy this sub goal", [@goal, @sub_goal], method: :delete %>
</div>
